{% load mptt_tags %}
{% load category_tags %}
<form action="" method="get">
        <div class="menu-bg">
			<a href="javascript:;" class="menu-close"></a>
            <div class="city-select">

{#                <form action="" method="get">#}
{#                    <input name="q_city" type="text" placeholder="Поиск....." >#}
{#                </form>#}


			<select data-placeholder="Выберите город">
				<option value=""></option>
				<option value="Все города">Все города</option>
				<option value="Москва">Москва</option>
				<option value="Санкт-Петербург">Санкт-Петербург</option>
				<option value="Владивосток">Владивосток</option>
				<option value="Тула">Тула</option>
				<option value="Тверь">Тверь</option>
				<option value="Якутск">Якутск</option>
				<option value="Новосибирск">Новосибирск</option>
				<option value="Орел">Орел</option>
				<option value="Курск">Курск</option>
				<option value="Воронеж">Воронеж</option>
				<option value="Иваново">Иваново</option>
			</select>

			<div class="city-selected-block">Вы выбрали город: <span id="city-selected">Москва</span></div>
		</div>
			<span class="menu-title">Категории</span>
			<ul class="menu-ul">
				{% recursetree category %}
                    <li>
                        <a class="a-cat" href="{% url 'category' node.slug %}">{{ node.name }} <span>{{ node.items_count }}</span></a>

                        {% if not node.is_leaf_node %}
                            <ul>
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
				{% endrecursetree %}
            </ul>
        </div>
</form>
<script>
    {#let a = document.querySelector('.a-cat')#}
    {#console.log(a)#}
    {#a.addEventListener('click', function(e) {#}
    {#    e.preventDefault()#}
    {#    console.log(this.href)#}
    //})


</script>