{% load mptt_tags %}
{% load category_tags %}

    <div class="menu-bg">
        <a href="javascript:;" class="menu-close"></a>
        <div class="city-select">

            <form method="get">
                <select id="city" data-placeholder="Выберите город">
                    <option value=""></option>
                    <option value="Все города">Все города</option>
                    <option value="Москва">Москва</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Владивосток">Владивосток</option>
                    <option value="Тула">Тула</option>
                    <option value="Тверь">Тверь</option>
                    <option value="Якутск">Якутск</option>
                    <option value="Новосибирск">Новосибирск</option>
                    <option value="Орел">Орел</option>
                    <option value="Курск">Курск</option>
                    <option value="Воронеж">Воронеж</option>
                    <option value="Иваново">Иваново</option>
                </select>
            </form>
			<div class="city-selected-block">Вы выбрали город: <span id="city-selected">Москва</span></div>
            </div>
                <span class="menu-title">Категории</span>
                <ul class="menu-ul">
                    {% recursetree category %}
                        <li>
                            <a class="none" id="link" href="{% url 'category' node.slug %}">{{ node.name }} <span>{{ node.items_count }}</span></a>

                            {% if not node.is_leaf_node %}
                                <ul>
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>


<script>
    // подставляем выбранный город
    {#function change_link(){#}
    {#    link = document.getElementById("link");#}
    {#    link.href = link.href+"?city="+document.getElementById("city").value;#}
    //}
{#    var links = document.getElementsByTagName("a");#}
{#    for (var i = 0; i < links.length; i++) {#}
{#        var link = links[i];#}
{#        link.href = link.href + "?city=";#}
//}
    let elements = document.querySelectorAll(".none");
    {#link = document.getElementById("city")#}
    {#console.log(link)#}
    for (let i = 0; i < elements.length; i++) {
        elements[i].onclick = function(){
            let link = elements[i];
            link.href = link.href + "?city=" + document.getElementById("city").value;
            {#alert("ASPAS" + this.getAttribute('href') + "?city=" + document.getElementById("city").value);#}
  };
}
</script>