{% extends 'home.html' %}
{% load static %}
{% load padegi_tags %}

{% block left %}
{% endblock left %}


{% block content %}
<div class="bg-all">
	<div class="const addpredl">
		<div class="addpredl-l">
          {% for cat in order.category.all %}
              <a href="{% url 'category' cat.slug %}" class="back-link">{{ cat }}</a>
            {% endfor %}
			<div class="tovar-block">
				<div class="tovar-img" style="background-image: url({{ order.photo.url }});"></div>
				<div class="tovar-info">
					<h2>{{ order.name }}</h2>
					{{ order.description }}
				</div>
				<div class="tovar-foot">
					<div class="tovar-price">
						желаемая стоимость<br>
						<span>{{ order.price_min }} - {{ order.price_max }}руб</span>
					</div>
				</div>
				<div class="tovar-dopinfo">Нужна доставка в город:<br><span>Москва</span></div>
				<div class="tovar-dopinfo">Желаемый способ оплаты:<br><span>{{ order.get_payment_method_display }}</span></div>
				<div class="tovar-dopinfo">Принимать предложения от магазинов:<br><span>Разрешено</span></div>
                <div class="tovar-dopinfo">Принимать предложения из других регионов:<br><span>Разрешено</span></div>

                <div class="tovar-foot">
                <div class="tovar-offer">
                    откликов ({{ order.offers.count }}) <br>
                    {% if order.date_validity|delta == 'quickly' %}
                        <span class="tovar-actual">Срочно</span>
                    {% else %}
                        <span class="tovar-actual">Актуально {{ order.date_validity|delta }}</span>
                    {% endif %}
                </div>
            </div>
				<a href="#" class="discuss">Пожаловаться на объявление</a>
			</div>
		</div>

        <div class="addpredl-r">
            <h1>Сделать предложение</h1>
            <form action="{% url 'order' order.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="javascript:;" class="addpage-img inside-photo" style="background-image:none;">
                    <img id="photo" src="{% static 'img/add-photo-blue.svg' %}" alt=""><br>
                    <div>Добавить фото</div>
                    <input type="file" onchange="readURL(this);" name="photo" accept="image/*">
                </a>
                <label>Заголовок предложения</label>
                <input type="text" placeholder="Заголовок предложения не более 50 символов" name="name" required>
                <a href="javascript:;" onclick="$('#instr-1').arcticmodal()" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

                <label>Описание предложения</label>
                <textarea name="description" placeholder="Описание характеристик (дополнительная информация)" required></textarea>
                <a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

                <div class="addform-sep"></div>
                <label>Укажите стоимость в рублях</label>
                <div class="addform-price">
                    <input type="number" name="price_min" min="0" required>
                </div>
                    <a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>
                {% if order.buyer != user and not order.offers.all %}
                    {% if user.is_authenticated %}
                        <input type="submit" value="Сделать предложение">
                    {% else %}
                        <a href="javascript:;" class="addpage-info" onclick="$('#regform').arcticmodal()">
                            <input type="button" value="Сделать предложение">
                        </a>
                    {% endif %}
                {% endif %}
            </form>
        </div>
	</div>
</div>

<div style="display: none;">
    <div class="box-modal" id="instr-1">
        <div class="box-modal_close arcticmodal-close"></div>

        <div class="modal-title">Как заполнить заголовок объявления</div>
        Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению...

    </div>
</div>


{% endblock content %}







