{% extends 'home.html' %}
{% load static %}


{% block left %}
{% endblock left %}


{% block content %}
<div class="bg-all">
	<div class="const addpage">
		<div class="bread-cat">
			<span>электроника</span> <span>портативная</span> <span class="bread-cat-active">плееры</span> 
		</div>
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
                <a href="javascript:;" class="addpage-img" style="background-image:none;">
                    <img id="photo" src="{% static 'img/add-photo-blue.svg' %}" alt=""><br>
                    <div>Добавить фото</div>
                    <input type="file" name="photo" onchange="readURL(this);" accept="image/*">
                </a>

					<label>Заголовок объявления</label>
					<input type="text" placeholder="Введите заголовок" name="name">
					<a href="javascript:;" onclick="$('#instr-1').arcticmodal()" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

					<label>Описание объявления</label>

					<textarea name="description" placeholder="Дополнительная информация"></textarea>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

					<div class="addform-sep"></div>
					<div class="addform-city">Мы определили ваш город: <span>Москва</span> <a href="">Изменить</a>
                    <input type="text" placeholder="Введите город" name="city">
                    </div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>


					<div class="addform-sep"></div>
					<label>Желаемый диапазон стоимости в рублях</label>

					<div class="addform-price">
						От <input type="number" value="0" name="price_min"> До <input type="number" value="0" name="price_max">
					</div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>

					<div class="addform-sep"></div>
					<label>Желаемый способ оплаты</label>
					<div class="addform-select">
                        <select name="payment_method" id="id_payment_method">
                            <option value="for_cash">Наличными</option>
                            <option value="non_cash">Безналичный расчет</option>
                        </select>
					</div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>
					<div class="addform-sep"></div>

					<label>Покупка актуальна до</label>
					<input type="text" id="datetimepicker" readonly class="datepicker-here" name="date_validity" placeholder="дд.мм.гггг"> <a href="javascript:;" class="addform-todaybut">Товар нужен сегодня</a>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>
<!--					<div class="addform-sep"></div>-->
<!--					<input id="check01" type="checkbox" value="Yes">-->
<!--					<label for="check01" class="addform-label">Принимать предложения от магазинов</a></label>-->
<!--					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a>-->
<!--					<div class="addform-sep"></div>-->
<!--					<input id="check02" type="checkbox" value="Yes">-->
<!--					<label for="check02" class="addform-label">Принимать предложения из других регионов</a></label>-->
<!--					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a>-->
<!--					<div class="addform-sep"></div>-->
{#					<input id="check03" type="checkbox" value="Yes">#}
{#					<label for="check03" class="addform-label">Нужна ли Вам доставка в город Москва</a></label>#}
{#					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a><a href="#" class="addpage-changecity">Изменить город доставки</a>#}
<!--					<div class="addform-sep"></div>-->
<!--					<label>Дополнительные категории показа запроса</label>-->
<!--					<div class="addform-subcat">-->
<!--						<input id="check04" type="checkbox" value="Yes">-->
<!--						<label for="check04" class="addform-subcatlabel">Техника</label>-->
<!--						<input id="check05" type="checkbox" value="Yes">-->
<!--						<label for="check05" class="addform-subcatlabel">Носимая электроника</label>-->
<!--					</div>-->
<!--					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a>-->
<!--					<div class="addform-sep"></div>-->
					<input type="submit" value="Добавить">
				</form>
	</div>
</div>




<div style="display: none;">
    <div class="box-modal" id="instr-1">
        <div class="box-modal_close arcticmodal-close"></div>
	
		<div class="modal-title">Как заполнить заголовок объявления</div>
		Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... 

    </div>
</div>
{% endblock content %}