{% extends 'home.html' %}
{% load static %}
{% load city_ip_tags %}


{% block left %}
{% endblock left %}


{% block content %}
<div class="bg-all">
	<div class="const addpage">
		<div class="bread-cat">
            {% for bread in breadcrumb %}
			    <span>{{ bread }}</span>
            {% endfor %}
		</div>
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
{#                <input type="hidden" value="{{ bread_ids }}" name="category">#}
{#        {{ form.category }}#}
                <a href="javascript:;" class="addpage-img" style="background-image:none;">
                    <img id="photo" src="{% static 'img/add-photo-blue.svg' %}" alt=""><br>
                    <div>Добавить фото</div>
                    <input type="file" name="photo" onchange="readURL(this);" accept="image/*">
                </a>

					<label>Заголовок объявления</label>
					<input type="text" placeholder="Введите заголовок" name="name" value="{{ search }}" required>
					<a href="javascript:;" onclick="$('#instr-1').arcticmodal()" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

					<label>Описание объявления</label>

					<textarea name="description" placeholder="Дополнительная информация" required></textarea>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Инструция по заполнению</a>

					<div class="addform-sep"></div>
                    {% location_geoip as city_geo_ip %}
					<div class="addform-city">{% if city_geo_ip == "не определен" %}Укажите ваш город{% else %}Мы определили ваш город{% endif %}
                    <input type="text" id="city" name="city" {% if city_geo_ip == "не определен" %}placeholder="Введите город" {% else %}value="{% location_geoip %}"{% endif %}>
                    </div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>


					<div class="addform-sep"></div>
					<label>Желаемый диапазон стоимости в рублях</label>

					<div class="addform-price">
						От <input type="number" value="0" min="0" name="price_min" required> До <input type="number" min="0" value="0" name="price_max" required>
					</div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>

					<div class="addform-sep"></div>
					<label>Желаемый способ оплаты</label>
					<div class="addform-select">
                        <select name="payment_method" id="id_payment_method">
                            <option value="for_cash">Наличными</option>
                            <option value="non_cash">Безналичный расчет</option>
                        </select>
					</div>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>
					<div class="addform-sep"></div>

					<label>Покупка актуальна до</label>
					<input {% if form.date_validity.errors %} style="border: 1px solid red;" {% endif %} type="text" id="datetimepicker" readonly class="datepicker-here" name="date_validity" placeholder="дд.мм.гггг"> <a href="javascript:;" class="addform-todaybut">Товар нужен сегодня</a>
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>
{#					<div class="addform-sep"></div>#}
<!--					<input id="check01" type="checkbox" value="Yes">-->
<!--					<label for="check01" class="addform-label">Принимать предложения от магазинов</a></label>-->
<!--					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a>-->
<!--					<div class="addform-sep"></div>-->
<!--					<input id="check02" type="checkbox" value="Yes">-->
<!--					<label for="check02" class="addform-label">Принимать предложения из других регионов</a></label>-->
<!--					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a>-->
<!--					<div class="addform-sep"></div>-->
{#					<input id="check03" type="checkbox" value="Yes">#}
{#					<label for="check03" class="addform-label">Нужна ли Вам доставка в город Москва</a></label>#}
{#					<a href="#" class="addpage-info"><img src="img/info.svg" alt="">Что это значит?</a><a href="#" class="addpage-changecity">Изменить город доставки</a>#}
					<div class="addform-sep"></div>
					<label>Дополнительные категории показа запроса</label>
{#					<div class="addform-subcat">#}
{#						<input id="check04" type="checkbox" value="Yes">#}
{#						<label for="check04" class="addform-subcatlabel">Техника</label>#}
{#						<input id="check05" type="checkbox" value="Yes">#}
{#						<label for="check05" class="addform-subcatlabel">Носимая электроника</label>#}
{#					</div>#}
                <div>

                    {% for crumb, id in breadcrumb_and_id %}
                        <div class="addform-subcat">
                            <select  name="category" id="id_category" multiple="">
                            <!--Надо понять что будем делать если клиент пришел через поиск с 0 категорией-->
                              <option value="{% if not id %}1{% else %}{{ id }}{% endif %}" selected="selected">{% if not id %}Товары для животных{% else %}{{ crumb }}{% endif %}</option>
                            </select>
                        </div>
                    {% endfor %}
					<a href="#" class="addpage-info"><img src="{% static 'img/info.svg' %}" alt="">Что это значит?</a>
					<div class="addform-sep"></div>

                </div>

                    {% if user.is_authenticated %}
					<input type="submit" value="Добавить">
                    {% else %}
                    <a href="javascript:;" class="addpage-info" onclick="$('#regform').arcticmodal()">
						<input type="button" value="Добавить">
					</a>
                    {% endif %}
				</form>
	</div>
</div>




<div style="display: none;">
    <div class="box-modal" id="instr-1">
        <div class="box-modal_close arcticmodal-close"></div>
	
		<div class="modal-title">Как заполнить заголовок объявления</div>
		Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... Информация по заполнению... 

    </div>
</div>

<script>
// Google карты, подгрузка городов
  let autocomplete, marker;
  function initMap() {


    let inputs = document.querySelector('#city');
    autocomplete = new google.maps.places.Autocomplete(inputs);
  }
</script>

<!--Ключ AIzaSyDTHp5GjWLNsyHUqx1cLmW-WmZj9R4afuU от API гугл карт, его нужно будет изменить при развертывании на продакшене и в личном кабинете предоставить доступ для его работы-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHp5GjWLNsyHUqx1cLmW-WmZj9R4afuU&libraries=places&callback=initMap" async defer></script>

{% endblock content %}