<!DOCTYPE html>
{% load static %}
{% load mptt_tags %}
{% load padegi_tags %}
{% load i18n %}
{#{% load account  %}#}
{% load category_tags %}
{% load city_ip_tags %}

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Главная страница</title>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        {% block vue %} {% endblock vue %}
	</head>
<body class="page page_fix">


<!--Header-->
<header>
	<div class="const">
		<div class="logo-top"><a href="{% url 'home' %}"><img src="{% static 'img/iwtb-logo.png' %}" alt="Я хочу купить"></a></div>
		<div class="geo-select"><img src="{% static 'img/geo.svg' %}" alt="Location"><div>Ваш город<br><span>{% location_geoip %}</span>
{#      <a href="javascript:;" onclick="$('#cityselect').arcticmodal()">изменить</a>#}
            </div>
        </div>
		<div class="header-r">
			<div class="profile-block">
				{% if user.is_authenticated %}
						<div class="profile-block-l">
							<a href="{% url 'profile' %}">{{ user.profile.phone_number }}</a><br>
							Баланс: {{ user.profile.balance }}&#8381;
						</div>
					<a href="{% url 'profile' %}"><div class="profile-block-img" style="background-image: url({{ user.profile.avatar.url }});"></div></a>
					<div>
						<a href="{% url 'logout' %}" class="profile-exit" title="Покинуть профиль"></a>
						<a href="{% url 'profile' %}" class="profile-msg" title="Прочитать сообщения"><span>0</span></a>
					</div>
				{% else %}
					<div>
						<a href="javascript:;" onclick="$('#regform').arcticmodal()" class="gotologin" ><img src="{% static 'img/login.svg' %}" alt="">Вход</a>
					</div>
				{% endif %}
			</div>
<div class="lang-block">
	<div class="language">
	<img src="{% static 'img/lang__ru.png' %}" alt="ru" data-google-lang="ru" class="language__img">
	<img src="{% static 'img/lang__en.png' %}" alt="en" data-google-lang="en" class="language__img">
	<img src="{% static 'img/lang__de.png' %}" alt="de" data-google-lang="de" class="language__img">
	<img src="{% static 'img/lang__fr.png' %}" alt="fr" data-google-lang="fr" class="language__img">
	<img src="{% static 'img/lang__zh.png' %}" alt="zh-TW" data-google-lang="zh-TW" class="language__img">
	<img src="{% static 'img/lang__ar.png' %}" alt="ar" data-google-lang="ar" class="language__img">
	</div>
</div>

		</div>
	</div>
</header>
<!--Header-->

{% block left %}
	<div class="bg-home">
    {% menu_categories %}
{% endblock left %}




        {% block content %}
		<div class="const">
			<a href="javascript:;" class="cat-menu-link">Категории</a>
			<h1>Напишите, что вы хотите купить и нажмите поиск</h1>
			<a href="#" class="nobgbut"> Инструкция по работе с порталом</a>
{#			<div class="bread">#}
{#				<span>электроника</span> <span>портативная</span> <span>плееры</span>#}
{#			</div>#}
			<form action="{% url 'search' %}" method="get" class="search-form">
				<input type="text" placeholder="Введите текст" name="q">
				<input type="submit" value="Поиск">
			</form>
			<h3>Последние запросы</h3>
                <div class="last-lent">
                    {% for order in order_list %}
                    <div class="last-block">
                        <a href="{{ order.get_absolute_url }}">
							<div class="tovar-img" style="background-image: url({{ order.photo.url }});"></div>
                            <span class="lb-name">{{ order.name }}</span>
                            <span class="lb-be-price">желаемая стоимость</span>
                            <div class="lb-price">{{ order.price_min }} - {{ order.price_max }} руб</div>
							<div class="tovar-offer">
								откликов ({{ order.offers.count }}) <br>
								{% if order.date_validity|delta == 'quickly' %}
                                <span class="lb-af-price">Срочно</span>
                            {% else %}
                                <span class="lb-af-price">актуально {{ order.date_validity|delta }}</span>
                            {% endif %}
							</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
		</div>
	</div>


{% endblock content %}

<!--Modal Выбора города-->
	<div style="display: none;">
		<div class="box-modal" id="regform">
			<div class="box-modal_close arcticmodal-close"></div>
			<div class="modal-title">Зарегистрируйтесь для работы с порталом</div>
			<form class="modal-form-login" method="post" action="{% url 'login' %}" >
				{% csrf_token %}
				{% if search %}
           			<input type="hidden" name="next" value="{% url 'add_order' %}"/>
				{% endif %}
				<div class="form-group">
				<input type="tel" name="username" required id="id_username">
			</div>
				<input type="button" onclick="getPass()" id="btn" value="Получить пароль">
				<input type="password" name="password" placeholder="Пароль"  id="id_password" disabled>
				<input required id="check1" type="checkbox" value="Yes">
				<label for="check1">Согласие на <a href="#">обработку персональных данных</a></label>
				<input type="submit" id="submit" value="Войти" class="but-login"><span id="timer"></span>
            </form>
		</div>
	</div>

	<!--Modal-->
	<div style="display: none;">
		<div class="box-modal" id="cityselect">
			<div class="box-modal_close arcticmodal-close"></div>
			<div class="modal-title">Выберите город</div>
			<form class="modal-form-login city-corr" method="post" action="" >
                <input type="text" placeholder="Введите город">
                <input type="submit" value="Выбрать">
            </form>
		</div>
	</div>

<!--Footer-->
	<footer>
		<div class="const">
			<div class="logo-foot">
				<img src="{% static 'img/logo-white.png' %}" alt="Я хочу купить"><br>
				Я хочу купить 2020 © все права защищены
			</div>
			<div class="info-foot">
				<div class="soc-foot">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div class="text-foot">
					Информация, опубликованная на данном сайте,
					предназначена для любой аудитории, если иное не
					указано дополнительно в отношении отдельных материалов.
				</div>
			</div>
			<div class="foot-links">
				<a href="#">Политика конфиденциальности</a>
				<a href="#">Правила обработки персональных данных</a>
				<a href="#">Связаться с администрацией</a>
			</div>
		</div>
	</footer>
<!--Footer-->



<link href="{% static 'chosen.min.css' %}" type="text/css" rel="stylesheet" />
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{% static 'js/google-translate.js' %}"></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>

{#<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static 'js/myscript.js' %}"></script>

<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'intlTelInput.min.css' %}" />
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
<script src="{% static 'js/intlTelInput-jquery.js' %}"></script>
<link href="{% static 'datepicker.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<script>
	$(function() {
$("#id_username").intlTelInput({
	utilsScript: "{% static 'js/utils.js' %}",
		preferredCountries: ['ru','ua','by'],
		autoHideDialCode: false,
        autoPlaceholder: "aggressive",
		initialCountry: "ru",
		nationalMode: false,
		separateDialCode: true,
		placeholderNumberType:"MOBILE",
		localizedCountries:{'ru':'Россия'},
});
});
  </script>

</body>
</html>
