{% extends 'home.html' %}
{% load user_tags %}

{% block left %}
<div class="bg-all">

    <div class="menu-bg">
		<a href="javascript:;" class="menu-close"></a>
		<span class="menu-title">Меню профиля</span>
        <ul class="menu-ul">
            {% url 'profile' as profile %}
            <li {% if profile|active:request %} class="cat-active" {% endif %}><a href="{{profile}}">Мой профиль</a></li>
            {% url 'my_order' as my_order %}
            <li {% if my_order|active:request %} class="cat-active" {% endif %}><a href="{{my_order}}">Мои запросы <span>({{get_sum_order}}{{view.get_sum_order}})</span></a></li>
            {% url 'inactive' sort='all' as inactive %}
            <li {% if inactive|active:request %} class="cat-active" {% endif %}><a href="{{inactive}}">Неактивные <span>({{get_sum_inactive}}{{view.get_sum_inactive}})</span></a></li>
            {% url 'my_offer' as my_offer %}
            <li {% if my_offer|active:request %} class="cat-active" {% endif %}><a href="{{my_offer}}">Мои предложения <span>({{get_sum_offer}}{{view.get_sum_offer}})</span></a></li>
{#            <li><a href="">Сообщения <span>(13)</span></a></li>#}
            <li><a href="" style="color:tomato">Платные услуги</a></li>
        </ul>
    </div>
    <div class="const">
{% endblock left %}

{% block content %}
{% endblock content %}