{% extends 'home_profile.html' %}
{% load static %}



{% block content %}
    <div class="content-r">
        <h1><a href="javascript:;" class="cat-menu-link profile-corr"></a>Мои предложения</h1>
        <div class="tovars-flex">
            {% for offer in offer_list %}
                <div class="tovar-block tovar-mypredl">
                    <div class="tovar-city">Москва</div>
                    <div class="tovar-img" style="background-image: url({{ offer.photo.url }});">
                        {% if offer.status == 'approve' %}
                        <div class="tovar-mypredl-label">
                            Ваше предложение интерсно покупателю <a href="{% url 'my_offer_in' offer.id %}">начать чат</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="tovar-info">
                        <h2>{{ offer.name }}</h2>
                        {{ offer.description }}
                    </div>
                    <div class="my-predl-title">Предложения на:</div>
                    <a href="{% url 'my_offer_in' offer.id %}" class="my-predl-link">{{ offer.order }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

        </div>
    </div>
{% endblock content %}




