{% extends 'home_profile.html' %}
{% load static %}


			{% block content %}
			<div class="content-r">
				<h1><a href="javascript:;" class="cat-menu-link profile-corr"></a>Мой профиль</h1>
                <form action="{% url 'update' user.profile.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-flex">
                        <a href="#" class="profile-photo">
                            <img id="photo" src="{{ user.profile.avatar.url }}" alt=""><br>
                            <input type="file" onchange="readURL(this);" name="avatar" accept="image/*">
                            <input type="submit" value="{% if not user.profile.avatar.url %} Добавить {% else %} Изменить {% endif %}">
                        </a>
                        <div class="profile-info">
                            <div class="profile-info-row">
                                <div>Телефон:</div>
                                    <div>{{user.profile.phone_number}}</div>
    {#									<div><input type="submit" value="Изменить"></div>#}
                            </div>
                            <div class="profile-info-row">
                                <div>Имя:</div>
                                    <div><input type="text" placeholder="Имя" name="first_name" value="{{ user.first_name }}"></div>
                                    <div><input type="submit" value="{% if not user.first_name %} Добавить {% else %} Изменить {% endif %}"></div>
                            </div>

                            <div class="profile-info-row">
                                <div>Описание:</div>
                                <div class="col-2"><textarea  placeholder="Описание" name="description" >{{user.profile.description}}</textarea></div>
                                    <div><input type="submit" value="{% if not user.profile.description %} Добавить {% else %} Изменить {% endif %}"></div>
                            </div>

                            <div class="profile-info-row">
                                <div>Почта:</div>
                                    <div><input type="text" placeholder="email" name="email" value="{{ user.email }}"></div>
                                    <div><input type="submit" value="{% if not user.email %} Добавить {% else %} Изменить {% endif %}"></div>
                            </div>
                        </div>
				    </div>
                </form>
			</div>
		</div>
	</div>

{% endblock content %}



