{% extends 'home_profile.html' %}
{% load static %}
{% load padegi_tags %}
{% block vue %}<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>{% endblock %}

			{% block content %}
			<div class="content-r">

				<h1><a href="javascript:;" class="cat-menu-link profile-corr"></a>Мои предложения</h1>

				<div class="tovars-flex">

					<div class="tovar-block tovar-zapros">
						<div class="tovar-city">Москва</div>
						<div class="tovar-img" style="background-image: url({{ offer.order.photo.url }});">
						<div class="tovar-mypredl-label tovar-zapros-label">
							запрос покупателя
						</div>
						</div>
						<div class="tovar-info">
							<h2>{{offer.order.name}}</h2>
							{{offer.order.description}}
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								желаемая стоимость<br>
								<span>{{offer.order.price_min}} - {{offer.order.price_max}}руб</span>
							</div>
							<div class="tovar-offer">
								{% now "Y-m-d" as today_date %}
								{% if offer.order.date_validity|date:"Y-m-d" <= today_date %}
								<span class="tovar-actual">Срочно</span>
								{% else %}
								<span class="tovar-actual">Актуально {{ offer.order.date_validity|delta }}</span>
								{% endif %}
							</div>
						</div>
							
					</div>


					<div class="tovar-block tovar-mypredl">
						<div class="tovar-city">Москва</div>
						<div class="tovar-img" style="background-image: url({{ offer.photo.url }});">
						<div class="tovar-mypredl-label">
							ваше предложение
						</div>
						</div>
						<div class="tovar-info">
							<h2>{{offer.name}}</h2>
							{{offer.description}}
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								указанная стоимость<br>
								<span>{{offer.price_min}}руб</span>
							</div>
						</div>
					</div>


				</div>


				<div class="chat-block"  id="app">
                    <a id="ch-{{offer.roomchat.id}}" class="chat-hide" v-bind:data-roomchat="{{offer.roomchat.id}}" href="javascript:;"
                    v-on:click="showChat('{{ offer.roomchat.id }}')"></a>
{#					<a class="chat-close" href="">Закрыть диалог с покупателем</a>#}
					<div class="chat-header">
						<div class="chat-ava" style="background-image: url({{ user.profile.avatar.url }});"></div>
						<div class="chat-info">
							<div class="chat-title">{{offer.name}}</div>
							<div class="chat-price">Указанная стоимость <span>{{offer.price_min}}руб</span></div>
						</div>
					</div>
					<div class="chat-content">

                        <div v-for="chat in chat_message" :key="chat.id"
                                    :class="chat.user === user ? 'seller-msg' : 'client-msg' ">
                                    <div v-if="chat.user === user"
                                         class="msg-ava" :style="{'background-image': 'url('+avatar+')'}"></div>
                                    <div v-else class="msg-ava" v-bind:style="{'background-image': 'url(/media/'+chat.user__profile__avatar+')'}"></div>
                                    <div class="msg-text"><% chat.message %></div>
                                </div>
{#                        <div class="client-msg">#}
{#                            <div class="msg-ava" style="background-image: url({% static 'photos/chat-ava2.png' %});"></div>#}
{#                            <div id="chat-log" class="msg-text"></div>#}
{#                        </div>#}
{#                    {{ room_id }}#}
					</div>
					<form action="" class="chat-form">
						<textarea v-model="message" name="" id="" placeholder="Введите текст"></textarea>
						<label for="chat-file"></label>
						<input type="file" name="" id="chat-file">
						<input type="button" value="Отправить"  v-on:click="send()">
					</form>
				</div>
{#                    <textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
{#                    <input id="chat-message-input" type="text" size="100"><br>#}
{#                    <input id="chat-message-submit" type="button" value="Отправить">#}

			</div>
		</div>
	</div>
    <script>
//Здесь я так понял, тк чат один, надо ловить ID чата где то в другом месте, а не по кнопке гамбургера
//Как решим куда тыкнуть нужно что бы передался ID, сделаю
$(document).ready(function() {
    {#$('.chat-hide').on('click', f_acc);#}
    //регистрация функции-обработчика клика на кнопку гамбургера
});

        let app = new Vue({
            el: "#app",
            delimiters: ["<%", "%>"],
            data() {
                return {
                    chat_message: [],
                    user: {{ user.id }},
                    avatar: '{{ user.profile.avatar.url}}',
                    valueid: '',
                    showChatId: '',
                    chatSocket: '',
                    message: '',
                    id: {{ offer.roomchat.id }}
                }
            },
            created() {
                this.showChatId = this.id
                this.openChat()
            },
            methods: {
                showChat(id) {
                    {#$('.chat-hide').not($('#ch-'+id)).removeClass('chat-showed');#}
                    {#$('.chat-block').not($('#ch-'+id).closest('.chat-block')).find('.chat-header').removeClass('chat-showed');#}
                    {#$('.chat-block').not($('#ch-'+id).closest('.chat-block')).find('.chat-header').removeClass('chat-showed-h');#}
                    {#$('.chat-block').not($('#ch-'+id).closest('.chat-block')).find('.chat-precontent').slideUp(300);#}
                    {#$('.chat-block').not($('#ch-'+id).closest('.chat-block')).find(".chat-form").slideUp(300);#}
                    {#$('#ch-'+id).toggleClass('chat-showed');#}
                    {#$('#ch-'+id).closest('.chat-block').find('.chat-header').toggleClass('chat-showed-h');#}
                    {#$('#ch-'+id).closest('.chat-block').find('.chat-precontent').slideToggle(300);#}
                    {#$('#ch-'+id).closest('.chat-block').find(".chat-form").slideToggle(300);#}
                    this.showChatId = id
                    this.openChat()
                },
                openChat() {
                    $.ajax({
                        url: 'http://127.0.0.1:8000/chat_mess/'+ this.showChatId,
                        type: 'GET',
                        success: (response) => {
                            this.chat_message = response.chat_message
                        }
                    })
                    this.scrollChat()
                    this.connect()
                },
                connect() {
                    //в отладчике браузера у меня тут проблема кстати
                    this.chatSocket = new WebSocket(
                        'ws://'
                        + window.location.host
                        + '/ws/chat/'
                        + this.showChatId
                        + '/'
                    );
                    this.chatSocket.onopen = () => {
                        this.chatSocket.onmessage = ({data}) => {
                            this.chat_message.push(JSON.parse(data));
                            console.log((data))
                        };
                    }
                },
                send() {
                    this.chatSocket.send(JSON.stringify({
                        'message': this.message,
                        'user': this.user
                    }));
                    this.message = '';
                },
                scrollChat() {
                    setTimeout(() => {
                        let content = document.querySelector('.chat-content');
                        content.scrollTop = content.scrollHeight
                    }, 1000)

                }
            }
        })

    </script>
{% endblock content %}



