{% extends 'home_profile.html' %}
{% load static %}


			{% block content %}
			<div class="content-r">
				<h1><a href="javascript:;" class="cat-menu-link profile-corr"></a>Мой профиль</h1>
                <form action="{% url 'update' user.profile.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-flex">
                        <div>
                        <a href="#" class="focusevent profile-photo inside-photo" style="background-image:url({{ user.profile.avatar.url }});">
                            <input type="file" onchange="readURL(this);" name="avatar" accept="image/*" style="display:none;">

                        </a>
                        <input class="def-but" type="submit" value="{% if not user.profile.avatar.url %} Добавить {% else %} Сохранить {% endif %}">
                        <span class="formats">Допустимые форматы png, jpg, jpeg, gif<br>Размер – не более 5 МБ.</span>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-row">
                                <div>Телефон:</div>
                                    <div>{{user.profile.phone_number}}</div>
    {#									<div><input type="submit" value="Сохранить"></div>#}
                            </div>
                            <div class="profile-info-row">
                                <div>Имя:</div>
                                    <div><input type="text" class="focusevent" placeholder="Имя" name="first_name" value="{{ user.first_name }}"></div>
                                    <div><input type="submit" value="{% if not user.first_name %} Добавить {% else %} Сохранить {% endif %}"></div>
                            </div>

                            <div class="profile-info-row">
                                <div>Описание:</div>
                                <div class="col-2"><textarea class="focusevent"  placeholder="Описание" name="description" >{{user.profile.description}}</textarea></div>
                                    <div><input type="submit" value="{% if not user.profile.description %} Добавить {% else %} Сохранить {% endif %}"></div>
                            </div>

                            <div class="profile-info-row">
                                <div>Почта:</div>
                                    <div><input type="text" class="focusevent" placeholder="email" name="email" value="{{ user.email }}"></div>
                                    <div><input type="submit" value="{% if not user.email %} Добавить {% else %} Сохранить {% endif %}"></div>
                            </div>
                            <a class="logout" href="{% url 'logout' %}">Покинуть профиль</a>
                        </div>
				    </div>
                </form>
			</div>
		</div>
    </div>
    
    <script>

    changeflag = false;

    $('.focusevent').focus(function(){
        changeflag = true;
    });
    $('.profile-flex input[type=submit]').focus(function(){
        changeflag = false;
    });

    $(window).on('beforeunload', function(){
    if(changeflag == true){
        return "Данные будут утеряны. Вы уверены что хотите покинуть страницу?";
    $(document).on("submit", "form", function(event){     
        $(window).off('beforeunload');
    });
    }
    });
    
    </script>
{% endblock content %}



