{% extends 'home_profile.html' %}
{% load static %}


			{% block content %}
			<div class="content-r">
				<h1>Мой профиль</h1>
				<div class="profile-flex">

					<a href="#" class="profile-photo">
						<img src="{{ user.profile.avatar.url }}" alt=""><br>
						{% if user.profile.avatar.url %}
						<div>Изменить фото</div>
						{% else %}
						<div>Добавить фото</div>
						{% endif %}
					</a>

					<div class="profile-info">
						<form action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="profile-info-row">
								<div>Имя:</div>
									<div><input type="text" placeholder="{{ user.first_name }}" name="name"></div>
									<div><input type="submit" value="Изменить"></div>
							</div>

							<div class="profile-info-row">
								<div>Описание:</div>
									<div class="col-2">{{form.description}}</div>
									<div><input type="submit" value="Изменить"></div>
							</div>

							<div class="profile-info-row">
								<div>Почта:</div>
									<div><input type="text" placeholder="{{ user.email }}" name="name"></div>
									<div><input type="submit" value="Добавить"></div>
							</div>
							<div class="profile-info-row">
								<div>Пароль:</div>
									<div>12345</div>
									<div><a href="#">Изменить</a></div>
							</div>
							<div class="profile-info-row">
								<div>Телефон:</div>
									<div>{{form.phone_number}}</div>
									<div><input type="submit" value="Изменить"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}



