{% extends 'home_profile.html' %}
{% load static %}
{% load padegi_tags %}



		{% block content %}
		<div class="content-r">
			<h1><a href="javascript:;" class="cat-menu-link profile-corr"></a>Мои запросы</h1>
			<div class="tovars-flex infinite-container">
				{% for advert in order_list %}
					<div class="tovar-block infinite-item">
						<div class="tovar-city">{{ advert.city }}</div>
{#						<a href="#" class="tovar-link"></a>#}
						<div class="tovar-img" style="background-image: url({{ advert.photo.url }});">
							{% for offer in advert.offers.all %}
                                {% if offer.status != 'reject' %}
                                    <div class="tovar-mypredl-label">
                                        {{ a.status }}Ваша заявка интерсна продавцу <a href="{% url 'offer_list' advert.id %}">начать чат</a>
                                    </div>
                                {% endif %}
							{% endfor %}
						</div>
						<div class="tovar-info">
							<h2>{{ advert.name }}</h2>
							{{ advert.description }}<br>
							Категория
							{% for categories in advert.category.all  %}
							{{ categories.name }}
							{% endfor %}
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								желаемая стоимость<br>
								<span>{{ advert.price_min }} - {{ advert.price_max }}руб</span>
							</div>
							<div class="tovar-offer">
								откликов ({{ advert.offers.count }}) <br>
                                {% if advert.date_validity|delta == 'quickly' %}
								    <span class="tovar-actual">Срочно</span>
                                {% else %}
                                    <span class="tovar-actual">Актуально  {{ advert.date_validity|delta }}</span>
                                {% endif %}
							</div>


{#                            <form id="delete_form" action="/delete/" method="post">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="date_validity" value="{{ advert.date_validity }}">#}
{#                                <input type="submit" value="OOOOOOOO">#}
{#                                <button class="otkl-zapros" name="delete" type="submit" value="{{ advert.date_validity }}">Отклонить запрос</button>#}
{#                            </form>#}
                            <button class="otkl-zapros" name="delete" type="button" onclick="delete_request('{{ advert.id }}')">Отклонить запрос</button>
{#							    <a href="" class="delete-all">Отменить запрос</a>#}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

            {% include 'include/pagination.html' %}

	</div>
</div>

{% endblock content %}


