{% extends 'home.html' %}
{% load static %}
{% load padegi_tags %}


{% block left %}
<div class="bg-all">
	<div class="menu-bg">
		<a href="javascript:;" class="menu-close"></a>
		<div class="city-select">
			<select data-placeholder="Выберите город">
				<option value=""></option>
				<option value="Все города">Все города</option>
				<option value="Москва">Москва</option>
				<option value="Санкт-Петербург">Санкт-Петербург</option>
				<option value="Владивосток">Владивосток</option>
				<option value="Тула">Тула</option>
				<option value="Тверь">Тверь</option>
				<option value="Якутск">Якутск</option>
				<option value="Новосибирск">Новосибирск</option>
				<option value="Орел">Орел</option>
				<option value="Курск">Курск</option>
				<option value="Воронеж">Воронеж</option>
				<option value="Иваново">Иваново</option>
			</select>
			<div class="city-selected-block">Вы выбрали город: <span id="city-selected">Москва</span></div>
		</div>
		<span class="menu-title">Категории</span>
		<ul class="menu-ul">
			<li> <a href="/category/tovary-dlya-zhivotnyh/">Товары для животных <span>6</span></a>
				<ul>
					<li> <a href="/category/dlya-sobak/">Для собак <span>2</span></a>
						<ul>
							<li> <a href="/category/korma-i-lakomstva/">Корма и лакомства <span>0</span></a> </li>
							<li> <a href="/category/perenoski/">Переноски <span>0</span></a> </li>
						</ul>
					</li>
					<li> <a href="/category/dlya-koshek/">Для кошек <span>2</span></a>
						<ul>
							<li> <a href="/category/korma-i-lakomstva/">Корма и лакомства <span>0</span></a> </li>
							<li> <a href="/category/perenoski-i-aksessuary/">Переноски и аксессуары <span>0</span></a> </li>
						</ul>
					</li>
				</ul>
			</li>
			<li> <a href="/category/bytovaya-tehnika/">Бытовая техника <span>4</span></a>
				<ul>
					<li> <a href="/category/tehnika-dlya-doma/">Техника для дома <span>1</span></a>
						<ul>
							<li> <a href="/category/pylesosy-i-aksessuary/">Пылесосы и аксессуары <span>0</span></a> </li>
						</ul>
					</li>
					<li> <a href="/category/tehnika-dlya-kuhni/">Техника для кухни <span>1</span></a>
						<ul>
							<li> <a href="/category/sokovyzhimalki/">Соковыжималки <span>0</span></a> </li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="const">



		{% endblock left %}

		{% block content %}
		<div class="content-r">
			<div class="bread-cat">
				<a href="javascript:;" class="cat-menu-link global-corr">Все категории</a>
				<a class="bread-cat-a" href="#">электроника</a> <a class="bread-cat-a" href="#">портативная</a> <span
					class="bread-cat-active">плееры</span>
			</div>
			<div class="tovars-flex">
				<div class="tovar-block tovar-add">

					{% if user.is_authenticated %}
                        <a href="{% url 'add_order' %}">
						<div class="tovar-img-add">
							<img src="{% static 'img/add-photo.svg' %}" alt=""><br>
							<div>Добавить фото</div>
						</div>


					<form action="">
						<input type="text" placeholder="{{search}}">
						<input type="button" value="Добавить запрос">
					</form>
					</a>
					{% else %}
					<a href="javascript:;" onclick="$('#regform').arcticmodal()">

						<div class="tovar-img-add">
							<img src="{% static 'img/add-photo.svg' %}" alt=""><br>
							<div>Добавить фото</div>
						</div>

					<form action="">
						<input type="text" placeholder="{{search}}">
						<input type="button" value="Добавить запрос">
					</form>
					</a>
					{% endif %}
				</div>

				{% for advert in order_list %}
				{% if advert.date_validity|delta == 'quickly' %}
				<div class="tovar-block tovar-hot">
					{% else %}
					<div class="tovar-block">
						{% endif %}
						<div class="tovar-city">Санкт-Петербург</div>
						<div class="tovar-img" style="background-image: url({{ advert.photo.url }});"></div>
						<div class="tovar-info">
							<h2>{{ advert.name }}</h2>
							Короткое описание товара Короткое описание
							товара Короткое описание товара Короткое
							описание товара Короткое описание товара
							Короткое описание товара
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								желаемая стоимость<br>
								<span>{{ advert.price_min }} - {{ advert.price_max }}руб</span>
							</div>
							<div class="tovar-offer">
								откликов ({{ advert.offers.count }}) <br>

								{% if advert.date_validity|delta == 'quickly' %}
								<span class="tovar-actual">Срочно</span>
								{% else %}
								<span class="tovar-actual">Актуально {{ advert.date_validity|delta }}</span>
								{% endif %}
							</div>
						</div>
						<a href="{{ advert.get_absolute_url }}" class="discuss">Сделать предложение</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
