{% extends 'home.html' %}
{% load static %}
{% load padegi_tags %}
{% load category_tags %}


{% block left %}
    <div class="bg-all">
    {% menu_categories %}
{% endblock left %}

		{% block content %}
<div class="const">
		<div class="content-r">
			<div class="bread-cat">
				<a href="javascript:;" class="cat-menu-link global-corr">Все категории</a>
				<a class="bread-cat-a" href="#">электроника</a> <a class="bread-cat-a" href="#">портативная</a> <span
					class="bread-cat-active">плееры</span>
			</div>
			<div class="tovars-flex">
				<div class="tovar-block tovar-add">

					{% if user.is_authenticated %}
                        <a href="{% url 'add_order' %}">
						<div class="tovar-img-add">
							<img src="{% static 'img/add-photo.svg' %}" alt=""><br>
							<div>Добавить фото</div>
						</div>


					<form action="">
						<input type="text" placeholder="{{search}}">
						<input type="button" value="Добавить запрос">
					</form>
					</a>
					{% else %}
					<a href="javascript:;" onclick="$('#regform').arcticmodal()">

						<div class="tovar-img-add">
							<img src="{% static 'img/add-photo.svg' %}" alt=""><br>
							<div>Добавить фото</div>
						</div>

					<form action="">
						<input type="text" placeholder="{{search}}">
						<input type="button" value="Добавить запрос">
					</form>
					</a>
					{% endif %}
				</div>

				{% for advert in order_list %}
				{% if advert.date_validity|delta == 'quickly' %}
				<div class="tovar-block tovar-hot">
					{% else %}
					<div class="tovar-block">
						{% endif %}
						<div class="tovar-city">Санкт-Петербург</div>
						<div class="tovar-img" style="background-image: url({{ advert.photo.url }});"></div>
						<div class="tovar-info">
							<h2>{{ advert.name }}</h2>
							Короткое описание товара Короткое описание
							товара Короткое описание товара Короткое
							описание товара Короткое описание товара
							Короткое описание товара
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								желаемая стоимость<br>
								<span>{{ advert.price_min }} - {{ advert.price_max }}руб</span>
							</div>
							<div class="tovar-offer">
								откликов ({{ advert.offers.count }}) <br>

								{% if advert.date_validity|delta == 'quickly' %}
								<span class="tovar-actual">Срочно</span>
								{% else %}
								<span class="tovar-actual">Актуально {{ advert.date_validity|delta }}</span>
								{% endif %}
							</div>
						</div>
						<a href="{{ advert.get_absolute_url }}" class="discuss">Сделать предложение</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
