{% extends 'home.html' %}
{% load static %}
{% load padegi_tags %}
{% load category_tags %}
{% load response_user %}


{% block left %}
    <div class="bg-all">
    {% menu_categories %}
{% endblock left %}

		{% block content %}
<div class="const">
		<div class="content-r">
			<div class="bread-cat">
				<a href="javascript:;" class="cat-menu-link global-corr">Все категории</a>
                {% for bread, link in breadcrumb %}
				<a class="bread-cat-a" href="{{ link }}">{{ bread }}</a>
                {% endfor %}
{#                <span class="bread-cat-active">плееры</span>#}
			</div>
			<div class="tovars-flex infinite-container">
				<div class="tovar-block tovar-add">

					{% if user.is_authenticated %}
<script>
//Т.к. нужно отрабатывать клик по кнопке (передаются хлебные крошки), то при клике по картиинке инициируем клик по кнопке
function gotozapros(){
	$('.tovar-add form input[type=submit]').click();
}
</script>
                        <a href="javascript:;" onclick="gotozapros();">
                        <div class="tovar-img-add">
                            <img src="{% static 'img/add-photo.svg' %}" alt=""><br>
                            <div>Добавить</div>
						</div>
						</a>

                        <form action="{% url 'add_order' %}" method="get">
                            <input type="hidden" value="{{ breadcrumb }}" name="bread">
                        <input type="hidden" value="{{ bread_id }}" name="bread_ids" >

                            <input type="text" placeholder="{% if not search %}Добавить запрос{% else %}{{search}}{% endif %}" value="{{search}}" name="q">
                            <input type="submit" value="Добавить запрос">
                        </form>
					{% else %}
                        <a href="javascript:;" onclick="$('#regform').arcticmodal()">

                            <div class="tovar-img-add">
                                <img src="{% static 'img/add-photo.svg' %}" alt=""><br>
                                <div>Добавить фото</div>
                            </div>

                            <form action="{% url 'add_order' %}" method="get">
                                <input type="hidden" value="{{ breadcrumb }}" name="bread">
                                <input type="hidden" value="{{ bread_id }}" name="bread_ids" >

                                <input type="text" placeholder="{% if not search %}Добавить запрос{% else %}{{search}}{% endif %}" value="{{search}}" name="q">
                            </form>
                            <input type="submit" value="Добавить запрос">
                        </a>
					{% endif %}
				</div>

				{% for advert in order_list %}
				{% if advert.date_validity|delta == 'quickly' %}
				<div class="tovar-block tovar-hot">
					{% else %}
					<div class="tovar-block infinite-item">
						{% endif %}
						<div class="tovar-city">{{ advert.city }}</div>
						<a href="{{ advert.get_absolute_url }}">
						<div class="tovar-img" style="background-image: url({{ advert.photo.url }});"></div>
						<div class="tovar-info">
							<h2>{{ advert.name }}</h2>
                            {{ advert.description|truncatechars:130 }}
						</div>
						<div class="tovar-foot">
							<div class="tovar-price">
								желаемая стоимость<br>
								<span>{{ advert.price_min }} - {{ advert.price_max }}руб</span>
							</div>
							<div class="tovar-offer">
								откликов ({{ advert.offers.count }}) <br>
								{% if advert.date_validity|delta == 'quickly' %}
								<span class="tovar-actual">Срочно</span>
								{% else %}
								<span class="tovar-actual">Актуально {{ advert.date_validity|delta }}</span>
								{% endif %}
							</div>	
						</div>
						</a>
                        {% count_offer_user pk=advert.pk as count_offer_user %}

                            {% if count_offer_user == "yes" %}
                                <a href="{{ advert.get_absolute_url }}" class="link-zap">Сделать предложение</a>
                            {% endif %}

					</div>
					{% endfor %}
				</div>
			</div>
		</div>
{% include 'include/pagination.html' %}
	</div>
</div>
{% endblock content %}
